.main {
  text-align: center;
  font-size: 50px;
}
body {
  background: url("/images/Background/bg9.jpg");
  background-size: cover;
  opacity: inherit;
}
.entities {
  border: 3px solid black;
  display: inline-block;
  padding: 10px;
  background-color: rgb(124, 124, 122);
}
#input {
  width: 324px;
  height: 80px;
  font-size: 60px;
  text-align: center;
  background-color: aliceblue;
}

table {
  margin: auto;
}
.btn {
  background-color: aliceblue;
  width: 80px;
  height: 80px;
  font-size: 50px;
}
#cal {
  font-size: 70px;
  color: #ec7a8e;
}
