* {
  margin: 0px;
  padding: 0px;
}
.utilities:hover {
  text-decoration: underline;
  color: yellow;
}
.utilities {
  width: 112px;
  height: 28px;
  font-size: 20px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-family: fangsong;
  cursor: pointer;
}

body {
  background-image: url("/images/Background/bg9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center center; */
}
.navbar {
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: black;
  width: 100%;
  /* position: fixed; */
}

#utilitiesmenu {
  position: fixed;
  width: 110px;
  top: 55px;
  left: 380px;
  display: none;
  flex-direction: column;
}
#utilitiesmenu a {
  font-size: 22px;
  color: white;
  background-color: black;
  text-align: center;
  text-decoration: none;
}

nav li {
  list-style: none;
  margin-left: 33px;
  font-size: 20px;
  color: white;
  margin-right: 33px;
  margin-top: 13px;
  font-weight: bold;
}
.btn {
  width: 72px;
  height: 42px;
  color: white;
  background-color: peru;
  font-size: 17px;
  margin-left: 10px;
  margin-top: 3px;
  border-radius: 10px;
}
.btn a {
  text-decoration: none;
  font-size: 18px;
}
buttons {
  position: absolute;
  top: 2px;
}
.btn:hover {
  background-color: rgb(238, 189, 140);
  cursor: pointer;
  color: black;
  border-radius: 10px;
  font-size: 17px;
}
.avatar {
  position: absolute;
  top: 2px;
  right: 7px;
  width: 45px;
  height: 45px;
  border-radius: 50px;
}
nav li a{
  text-decoration: none;
  color: white;
}

nav li a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: yellow;
}
.appName {
  font-size: 120px;
  display: flex;
  height: 336px;
  justify-content: center;
  align-items: center;
  color: white;
}

.tagline1 {
  display: block;
  font-family: "Courier New", Courier, monospace;
  font-size: 56px;
  position: absolute;
  font-weight: 800;
  top: 350px;
  left: 356px;
  color: black;
}

#head {
  text-align: center;
}

#compavt {
  display: none;
  flex-direction: column;
  width: 90px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 70px;
  right: 30px;
  border: 2px solid red;
  background-color: black;
  border-radius: 10px;
  height: 100px;
  width: 100px;
  text-align: center;
}
.avatar:hover{
  cursor: pointer;
}
.logout {
  font-size: 16px;
  margin: 8px;
  padding: 3px;
  background-color: black;
}
.logout:hover {
  cursor: pointer;
  font-size: 18px;
}
.logout a {
  text-decoration: none;
  color: white;
}
.uname {
  color: white;
  margin: 4px;
  font-size: 20px;
}
/* Common CSS */
/* .utilities:hover {
  text-decoration: underline;
  color: yellow;
}
.utilities {
  width: 112px;
  height: 28px;
  font-size: 20px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-family: fangsong;
  cursor: pointer;
}
body {
  background-image: url(/images/Background/WhatsApp\ Image\ 2023-01-14\ at\ 00.09.57.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.navbar {
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: black;
  width: 100%;
}

#utilitiesmenu {
  position: absolute;
  width: 110px;
  top: 55px;
  left: 380px;
  display: none;
  flex-direction: column;
}
#utilitiesmenu a {
  font-size: 22px;
  color: white;
  background-color: black;
  text-align: center;
  text-decoration: none;
}

nav li {
  list-style: none;
  margin-left: 33px;
  font-size: 20px;
  color: white;
  margin-right: 33px;
  margin-top: 13px;
  font-weight: bold;
}
nav li:hover {
  text-decoration: underline;
  cursor: pointer;
  color: yellow;
} */
