{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PLAN!t</title>
    <link rel="icon" href="{% static 'logo.jpg' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&family=Sofia+Sans:wght@300&display=swap" rel="stylesheet">

  </head>
  <body>
    <!-- Header -->
    <header>
      <!-- Navbar -->
      <nav id="navbar" class="navbar">
        <li>
          <button class="utilities" id="utilities" onclick="hide()">
            UTILITIES
          </button>
        </li>
        {% if login_status %}
        <li><a href="/daily_target"> DAILY TASKS</a></li>
        <li> <a href="/weekly_target">WEEKLY TASKS</a> </li>
        <li> <a href="/monthly_target">MONTHLY TASKS</a> </li>
        {% endif %}
      </nav>
      <!-- Utilities Menu -->
      <div id="utilitiesmenu">
        <a href="/calculator" target="_blank">Calculator</a>
        <a href=""></a>
      </div>
    </header>
    {% if not login_status %}
    <buttons>
      <button class="btn" id="signup">
        <a href="/signup" class="btn1"> SignUp</a>
      </button>
      <button class="btn" id="Login">
        <a href="/login" class="btn1">Login</a>
      </button>
    </buttons>
    {%endif%}
    <!-- Plan!t NameTag -->
    <div class="appName" id="appName"><p class="App" id="App">Plan!t</p></div>

    <!-- TagLine -->
    <div class="tagline1">Think !t, Plan !t, Execute !t</div>
    {% if login_status %}
    <div>
      
      <button id="avatar">
        <img
          src="{% static 'avatars/avt2.png' %}"
          onclick="hide1()"
          class="avatar"
          id="avt"
          alt=""
        />
      </button>
    </div>
    <div id="compavt">
      <p class="uname">Hello! {{userName}}</p>
      <button class="logout"><a href="/logout">Logout</a></button>
    </div>
    
    {% endif %}
    <script src="{% static 'js/index.js' %}"></script>

    {% comment %} {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endcomment %}
  </body>
</html>
